<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Libre</title>
  </head>
  <body>
    <header>
      <div>
        <img src="/images/logo-mercado-liebre.svg" alt="logo mercadolibre" />
      </div>
      <p>Lugar para poner barra de busqueda</p>
      <p>Compra en cuotas y sin tarjeta de credito</p>
      <ul>
        <li>
          <a href="./ofertas"> Ofertas </a>
        </li>
        <li>
          <a href="./tienda"> Tienda Oficiales </a>
        </li>
        <li>
          <a href="./vender"> Vender </a>
        </li>
        <li>
          <a href="./ayuda"> Ayuda </a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="./crear-cuenta"> Crear mi cuenta </a>
        </li>
        <li>
          <a href="./ingresar"> Ingresa </a>
        </li>
        <li>
          <a href="./carrito"> Mis Compras </a>
        </li>
      </ul>
    </header>
    <main>
      <p><b> Basados en tu ultima visita </b></p>
      <div>
        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" />
        <p>
          <b> Cafetera Moulinex </b>
        </p>
        <p>40% OFF</p>
        <p>$6.770</p>
      </div>
      <div>
        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" />
        <p>
          <b> MacBook Pro 2019 </b>
        </p>
        <p>20% OFF</p>
        <p>$230.000</p>
      </div>
      <div>
        <img
          src="/images/img-samsung-galaxy-s10.jpg"
          alt="Samsung Galaxy S10"
        />
        <p>
          <b> Samsung Galaxy S10 </b>
        </p>
        <p>10% OFF</p>
        <p>$70.500</p>
      </div>
      <div>
        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" />
        <p>
          <b> SmartTv Samsung 43 </b>
        </p>
        <p>5% OFF</p>
        <p>$23200</p>
      </div>

      <p>Ofertas</p>
      <div>
        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" />
        <p>
          <b> Cafetera Moulinex </b>
        </p>
        <p>40% OFF</p>
        <p>$6.770</p>
      </div>
      <div>
        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" />
        <p>
          <b> MacBook Pro 2019 </b>
        </p>
        <p>20% OFF</p>
        <p>$230.000</p>
      </div>
      <div>
        <img
          src="/images/img-samsung-galaxy-s10.jpg"
          alt="Samsung Galaxy S10"
        />
        <p>
          <b> Samsung Galaxy S10 </b>
        </p>
        <p>10% OFF</p>
        <p>$70.500</p>
      </div>
      <div>
        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" />
        <p>
          <b> SmartTv Samsung 43 </b>
        </p>
        <p>5% OFF</p>
        <p>$23200</p>
      </div>
    </main>
    <footer>
      <div>
        <p>
          <b> Paga con tarjeta o en efectivo </b>
        </p>
        <p>
          Con Mercado Libre Cash, tenes cuotas sin interes con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div>
        <p>
          <b>Envio gratis desde $ 2.500</b>
        </p>
        <p>
          Solo por estar registrad@ en Mercado Libre tenes envios gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div>
        <p>
          <b> Seguridad, de principio a fin </b>
        </p>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas
          hacer, porque estas siempre protegid@.
        </p>
      </div>
      <p>
        <b> Copyright © 1999-2020 MercadoLibre S.R.L. </b>
      </p>
    </footer>
  </body>
</html>
